/**
 * nav container design
 *
 */

.navbar {
    display: flex;
    align-items: center; 
    background-color: #d3d3d3;
}

.navbar-brand {
    font-size: 1.5rem; 

}

.navbar-nav {
    display: flex; 
    list-style-type: none; 
    padding-left: 0; 
    margin: 1rem; 
}

.vertical-hr {
    width: 1px; 
    height: 2.5rem;
    background-color: black;
    border: none;
    margin: 0;
    margin-left: 1rem;
}

/**
 * footer design
 *
 */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #d3d3d3;
    padding: 0;
}

footer *{
    padding: 0;
    margin: 0;
}

#footer-contact {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#footer-contact_url {
    display: flex;
    flex-direction: row;
}

#footer-contact_url a {
    padding: 1rem;
}

#footer-link-project {
    padding-right: 2rem;
}

footer img {
    width: 1.5rem;
    height: auto;
}
