/* Pour le conteneur de la navbar */
.navbar {
    display: flex;
    justify-content: left; /* Centre les éléments horizontalement */
    align-items: center; /* Aligne les éléments verticalement */
}

/* Pour le lien "Accueil" */
.navbar-brand {
    font-size: 1.5rem; /* Augmente la taille de la police */
}

/* Pour le conteneur de la liste de liens */
.navbar-nav {
    display: flex; /* Place les liens sur une seule ligne */
    list-style-type: none; /* Supprime les puces */
    padding-left: 0; /* Supprime le padding par défaut */
    margin: 1rem; /* Supprime le margin par défaut */
}


.vertical-hr {
    width: 1px; /* Réduit la largeur pour en faire une ligne mince */
    height: 3rem; /* La hauteur définit la longueur de la ligne verticale */
    background-color: black; /* Définit la couleur de la ligne */
    border: none; /* Supprime la bordure par défaut de <hr> */
    margin: 0;
    margin-left: 1rem;
}