*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

header{
    display: flex;
    justify-content: center; 
    background-color: #922B21 ;
}

header>*>img {
    width: 125px;
}

h2{
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper > button {
    width: 20%;
    margin-top: 2rem;
}

#Practice{
    display: flex;
    justify-content: left;
}

#Practice > div{
    flex: 1;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
}

#Security,#good{
    size: 33% ;
}

#GoodPractice{
    display: flex;
    justify-content: left;
}

.recup{
    border: none;
}
textarea {
    resize: none;
    /* text-align: left; */
}

footer{
    padding: 5%;
}
