*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center; 
}

header>*>img {
    width: 125px;
}

header,footer{
    background-color: #9E251B;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper > button {
    width: 20%;
    margin-top: 2rem;
}

#GoodPractice{
    display: flex;
    justify-content: left;
    text-align: left;
    
}

ul > *{
    text-align:left;
}
