<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% block css %} {% endblock %}
    <link rel="icon" href="https://www.cclaudel.fr/favicon.ico" type="image/x-con" sizes="233x256">
    <title>Message crypter - {% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Accueil</a>
        <hr class="vertical-hr">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
      <div id="footer-contact">
        <p>Contact me :</p>
        <div id="footer-contact_url">
          <p><a href="mailto:contact@cclaudel.fr"><img alt="mail contact" src="{{ url_for('static', filename='images/email.webp') }}"></a></p>
          <p><a href="https://github.com/Lhokamn/"><img alt="github contact" src="{{ url_for('static', filename='images/github-mark.webp') }}"></a></p>
        </div>
      </div>
      <div id="footer-link-project">
        <p><a id="footer-github-project" href="https://github.com/Lhokamn/send_passwd/">Page Project</a></p>
      </div>
      
    </footer>
  </body>
</html>