{% extends 'base.html' %}

{% block title %}Sender{% endblock %}

{% block content %}
    <div id="message-area">
        <h1>Welcome in Message Crypter</h1>
        <p>This services let you send crypted messages all over the wold</p>
        <div id="sendPasswd">
            <form class="wrapper" label="text-message" method="POST">
                    <textarea name="content" rows="6" cols="50" placeholder="Enter your message" class="form-control">{{ request.form['content'] }}</textarea>
                    <button name="passwdButton" type="submit">Submit</button>
            </form>
            
        </div>
    </div>
    <div id="ho-it-works">
        <div id="Security">
            <h2>Security</h2>
            <p>Message are stored securely in database (crypt). Since your message is reading, it is automaticaly delete from database</p>
        </div>
        <div id="usage">
            <h2>One time message</h2>
            <p>Send sensitive informations with mail, paper, or chat is over. It's preferable to use tools to crypt information until they are read</p>
        </div>
    
</div>
    </div>
    
{% endblock %}

