{% extends 'base.html' %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/save.css') }}">
{% endblock %}

{% block content %}

    <div id="container-content">
        <h1>Your secure Link</h1>
        <span class="badge badge-primary"></span>
        <div class="wrapper" id="linkSending">
            <p><a href="{{ fullLink }}">{{ fullLink }}</a></p>
        </div>
        <button id="copyButton">copy</button>
    </div>
    
{% endblock %}

{% block js %} 
    <script src="{{ url_for('static', filename= 'js/copyButton.js') }}"></script>
{% endblock %}